// as this file starts with an underscore, it won't be compiled into style.scss, it will just be imported

// Utilities

h1,
h5 {
  font-family: $title-font;
}

h2,
h4 {
  font-family: $body-font;
}

// fix bg-color for sub pages
body {
  height: 100%;
}

html {
  background-color: $primary;
}

.showcase {
  margin-top: 100px;
}

// Nav
.navbar {
  background-color: $secondary-op;
}

// Login Modal
// .btn-round {
//   border-radius: 50%;
// }

// Homepage

// carousel mask
.carousel-caption {
  background-color: $secondary-op;
}

// quote and mission styling
.dreamer-qt {
  font-family: $quote-font;
  color: #fff;
  font-size: 1.6rem;
}

.mission {
  p {
    font-family: $body-font;
    font-size: 1rem;
  }
}

// How it works

.full-screen {
  width: 100vw;
  height: 100vh;
}

.works {
  background-color: rgba($color: #fff, $alpha: 0.7);
}

// Mentors

.mentor {
  height: 200px;
  width: 200px;
}

// #background-image {
//   background-image: url(/img/pexels-ithalu-dominguez-907485\(1\).jpg);
// }

// body {
//   background-image: url(/img/pexels-ithalu-dominguez-907485\(1\).jpg);
// }
