// as this file starts with an underscore, it won't be compiled into style.scss, it will just be imported

// Utilities

h1 {
  font-family: $title-font;
}

h2 {
  font-family: $body-font;
}

.bg-image {
  background-image: url(/img/pexels-ithalu-dominguez-907485\(1\).jpg);
}

// #background-image {
//   background-image: url(/img/pexels-ithalu-dominguez-907485\(1\).jpg);
// }

// body {
//   background-image: url(/img/pexels-ithalu-dominguez-907485\(1\).jpg);
// }
