// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Oooh Baby', cursive;
// font-family: 'Open Sans', sans-serif;

// Variables (use this location to change the BS OG variables)
// backgrounds
$primary: #c1c8e4;
// navbar/btn
$secondary: #8379cd;
// titles
$title-color: #8860d0;

// button success
$success: #5ab9ea;

// Fonts
// $title-font: 'Josefin Sans', sans-serif;
// $quote-font: 'Oooh Baby', cursive;
// $body-font: 'Open Sans', sans-serif;

// $light: 300;
// $medium: 400;

// variable examples
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;

// Utilities (example of how to set your own)
$utilities: () !default;
$utilities: map-merge(
  (
    'input-padding': (
      property: padding,
      class: ip,
      values: (
        0: 0,
        1: 0.3rem,
        2: 0.5rem,
        3: 0.7rem,
        4: 0.9rem,
        5: 1rem,
      ),
    ),
  ),
  $utilities
);

// fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Oooh+Baby&family=Open+Sans:wght@300;400&display=swap');

// import stylesheet
@import 'style';

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';
